@font-face {
    font-family: nb;
    src: url(fonts/Display-Roman-2.woff2);
}

@font-face {
    font-family: ch;
    src: url(fonts/Gilroy_font-1.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Gilroy"; */
}

#main {
    /* background-color: black; */
    position: relative;
    z-index: 10;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav img {
    height: 80px;
    width: 160px;
    background-repeat: no-repeat;

}

nav {
    height: 100px;
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    text-align: center;
    /* background-color: #EFEAE3; */
    position: relative;
    z-index: 100;
    /* position: relative; */
    justify-content: space-between;
}

nav h3 {
    display: none;
    font-family: nb;

}

#nav-part2 {
    display: flex;
    text-align: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    position: relative;
    font-size: 18px;
    font-family: nb;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;

}

#nav-part2 h4 a:hover {
    color: white;
}

#nav-part2 h4:hover::after {
    border-radius: 0;

    bottom: 0;
}

#center {
    height: 85vh;
    /* background-color: yellow; */
    width: 100%;
    font-family: ch;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #00000079;
}

#center h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
    padding-bottom: 2.5vw;

}

#center h1 {
    font-size: 10.5vw;
    line-height: 9vw;
    text-align: right;
    padding-bottom: 2.5vw;


}

#page1 video {
    width: 100%;
    position: relative;
    border-radius: 27px;
    margin-top: 4vw;
}




#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 85vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -10%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(40%, -20%);
    }

    to {
        transform: translate(-40%, 50%);
    }
}

#page-2 {
    min-height: 100vh;
    background-color: #EFEAE3;
    width: 100%;
    padding: 8vw 0vw;
    position: relative;
}

.gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;

}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: move 10s linear infinite;
}

.con h1 {
    font-family: ch;
}

@keyframes move {
    from {
        transform: translatex(0);
    }

    to {
        transform: translatex(-100%);
    }

}

#page-2-bottom {
    height: 80vh;
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vw;
    position: relative;
    z-index: 9;

}

#page-2-bottom h1 {
    font-size: 4.4vw;
    font-family: ch;
    line-height: 4.5vw;
    width: 70%;
    letter-spacing: -2px;
    font-size: 900;
}

#bottom-part-2 {
    width: 20%;
    margin-top: 18vw;
    /* background-color: aqua; */
}

#bottom-part-2 img {
    width: 100%;
    border-radius: 5%;
}

#bottom-part-2 p {
    font-family: nb;
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;

}

/* #page-2 #gooey {
    background: linear-gradient(to top right, #ff2d03, #FE7B26);
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    top: 58%;
    left: 28%;
    filter: blur(18px);
    animation: gooey 5s infinite alternate;

}



@keyframes gooey {
    from {
        filter: blur(20px);

        transform: translate(10%, -10%) skew(0);

    }

    to {
        filter: blur(30px);

        transform: translate(-10%, 10%) skew(-7deg);
    }

} */

#page-3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 6vw 0vw;
}

.elem {
    height: 140px;
    width: 100%;
    /* background-color: orange; */
    /* border-top: 1px solid #333; */
    overflow: hidden;
    border-bottom: 1px solid #33333385;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    position: relative;

}

.elem h2 {
    font-size: 3.5vw;
    font-family: ch;
    position: relative;
    z-index: inherit;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.1s;
}

/* for left positiong of the webpage */
.elem h6 {
    position: relative;
    font-family: nb;
    font-size: 1vw;
    top: 20%;
    left: 75%;
    /* text-transform: uppercase; */
    font-weight: 100;

}

.elem .Makers {
    position: relative;
    font-family: nb;
    font-size: 1vw;
    top: 20%;
    text-align: right;

    left: 65%;
    /* text-transform: uppercase; */
    font-weight: 100;

}

.elem .Anniversary {
    position: relative;
    font-family: nb;
    font-size: 1vw;
    top: 20%;
    text-align: right;
    left: 67%;
    /* text-transform: uppercase; */
    font-weight: 100;

}

.elem .AirForce {
    position: relative;
    font-family: nb;
    font-size: 1vw;
    top: 20%;
    /* text-align: right; */
    left: 71%;
    /* text-transform: uppercase; */
    font-weight: 100;

}

.elem .NYFW {
    position: relative;
    font-family: nb;
    font-size: 1vw;
    top: 20%;
    /* text-align: right; */
    left: 73%;
    /* text-transform: uppercase; */
    font-weight: 100;

}

.elem .ARC {
    position: relative;
    font-family: nb;
    font-size: 1vw;
    top: 20%;
    /* text-align: right; */
    left: 77%;
    /* text-transform: uppercase; */
    font-weight: 100;

}

.elem h6 p {
    font-size: 1vw;
    color: #8F8C88
}

.elem:hover .overlay {
    top: 0;
}

.fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    /* position: relative; */
    z-index: 99;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 20%;
    display: none;
    /* background-image: cover; */
    background-size: cover;
    background-position: center;

}

.myself {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.9vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
}

.chola {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;

}

.myself h5 {
    font-family: nb;
    font-size: 1vw;
    color: #8f8c88a2;
}

.my-button {
    margin: 5vw 2vw;
}

.my-button h4 a {
    font-weight: 500;
}



#page-4 {
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* margin: 20px; */
    /* background-color: #333; */

}

.left-item {
    background-color: rgba(0, 0, 255, 0.29);
    width: 90%;
    margin-left: 2vw;
    height: 120vh;
    background-color: #0B0500;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;




}

.right-item {
    /* background-color: rgb(255, 0, 43); */
    width: 100%;
    height: 120vh;
    position: relative;
    right: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;



}



.left-item h1 {
    font-family: ch;
    text-align: left;
    font-size: 4.5vw;
    text-decoration: none;
    color: #EFEAE3;
    /* margin-right: 3vw; */
    text-align: left;
    margin-left: 12vw;
    font-weight: 500;
    line-height: 4.5vw;



}

.left-item h1:hover {
    cursor: pointer;



}


.left-item p {
    margin-top: 3vw;

    font-size: 1.1vw;
    font-family: nb;
    color: #EFEAE3;
    margin-right: 3vw;
    line-height: -1px;
    margin-left: 12vw;



}

.left-item h1:nth-child(2) {
    color: #504A45;
}

.left-item h1:nth-child(3) {
    color: #504A45;
}

.right-item img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.right-item img {
    position: absolute;

}

#page-2 {
    min-height: 100vh;
    background-color: #EFEAE3;
    width: 100%;
    padding: 8vw 0vw;
    position: relative;
}

/* Extra Editing */

#page-2 #gooey {
    background: linear-gradient(to top right, #FE340A, #FE7B26);
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    top: 58%;
    left: 28%;
    filter: blur(18px);
    animation: gooey 5s infinite alternate;

}



@keyframes gooey {
    from {
        filter: blur(20px);

        transform: translate(10%, -10%) skew(0);

    }

    to {
        filter: blur(30px);

        transform: translate(-10%, 10%) skew(-7deg);
    }

}


#footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #FE330A;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    /* position: relative; */

}

#footer #edit {
    background: linear-gradient(#0B0500, #691504);
    height: 70vw;
    width: 120vw;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    right: 0%;
    ;
    filter: blur(18px);
    animation: edit 5s infinite alternate;

}

@keyframes edit {
    from {
        filter: blur(20px);

        transform: translate(10%, -10%) skew(0);

    }

    to {
        filter: blur(30px);

        transform: translate(-10%, 10%) skew(-10deg);
    }


}

#footer h1 {
    position: relative;
    z-index: 999;
    font-size: 23.5vw;
    font-family: ch;
    color: #EDE8E1;

}

#footer-div {
    height: 20vh;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 8vw 0vw 5.5vw;

}

#footer-left h3 a {
    text-decoration: none;
    font-family: ch;
    font-size: 2.2vw;
    color: #fff;

}

#footer-right p {

    font-size: 1.4vw;
    font-family: nb;
}

#footer-bottom {
    position: relative;
    z-index: 999;
    border-top: 1px solid #dadada;

    height: 12vh;
    /* background-color: red; */
    width: 100%;
    /* padding: 0vw 7vw; */



}

.footer-last ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* gap: 5vw; */
    padding: 1.7vw 2vw;

}




#footer-bottom ul a {

    text-decoration: none;
    color: white;
    font-size: 1.1vw;
    font-family: nb;

}

#footer-bottom ul a:nth-child(3n) {
    color: red;


}

#footer-bottom ul a:nth-child(4n) {
    color: red;
}






/* Foter right Email button */
.search-bar {
    /* position:absolute;  */
    /* z-index: 1000; */
    margin-top: 2vw;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #FE330A;
    /* border: 1px solid #303030; */
    border-bottom: 2px solid #9a9a9a;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FE330A;
    color: white;
    transition: all 0.3s ease;
}

/* #footer::selection{
    background:#fe330a;
} */

.search-bar:hover {
    cursor: pointer;
}

.search-bar::placeholder {
    color: #9a9a9a;
}

.search-bar:hover {
    background-color: #313131;
}

.search-bar:active,
.search-bar:focus {
    background-color: #1e1f20;
    /* border: 1px solid #2d2d2d; */
    border-bottom: 2px solid #4cc2ff;
}




/* 
.loader {
    display: block;
    --height-of-loader: 2px;
    --loader-color: #EFEAE3;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 2s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}
 */



/* //.swiper js Code */

#page-5 {
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 14vw 2vw;

}





#page-6 {
    height: 120vh;
    width: 100%;
    /* background-color: black; */

}



.swiper {
    width: 80%;
    height: 100%;
    /* background-color: #fff; */




}

.swiper-slide p {
    font-family: nb;
    font-family: 2.5vw;
    padding: 1vw 1vw;
}


.swiper-slide {

    border-left: 1px solid #aeadad;
    /* border-right: 1px solid #000; */
}

.swiper-slide {
    width: 30%;
    padding: 0 2vw;
}



#full-src {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    z-index: 99;
    position: fixed;
    top: -100%;
    transition: all ease 0.5s;

}

#full-src #full-div1 {
    height: 50%;
    width: 100%;
    background-color: #dadada;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#full-div1 {

    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    justify-content: end;
    padding-bottom: 9vw;
    padding-right: 3vw;



}


#full-div1 h1 {

    font-size: 15vw;
    font-family: ch;
    text-transform: uppercase;
    line-height: 16vw;
    border-bottom: 7px solid #75563A;



}

/* .swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
} */

#Loader {
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: black;
    width: 100%;
    top: 0;
    transition: all ease-in 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 7vw;
    width: 7vw;
    background-color: #FE340A;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    transition: all cubic-bezier(0.19, 0.82, 0.165, 1).2s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 2vw;
    color: white;
}

#Loader h1 {
    color: transparent;
    font-family: ch;
    font-size: 4vw;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation: load 1s linear 1s;
    text-transform: uppercase;

}

#Loader h1:nth-child(1) {
    animation-delay: 2s;
}

#Loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

}

/* Responsiveness Code For WebPage */

@media(max-width:600px) {

    /* Page 1 Responsiveness Code */
    #page1 {
        min-height: 100vh;
        width: 100vw;
        background-color: #EFEAE3;
        position: relative;
        /* padding: 0 5vw; */
    }

    nav img {
        height: 70px;
        width: 130px;
        background-repeat: no-repeat;
        transition: all ease 0.2s;

    }



    nav {
        height: 100px;
        padding: 8vw 5vw;
        /* background-color: #EFEAE3; */
        width: 100%;


    }



    #nav-part2 {

        display: none;
    }

    nav h3 {

        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 12vw;
    }


    #center {
        height: 62vh;
        /* background-color: yellow; */
        width: 100%;
        font-family: ch;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #00000079;
        flex-direction: column-reverse;
        padding: 20vw 5vw;
        padding-bottom: 10vw;
    }

    #left h3 {
        font-size: 5.3vw;
        width: 100%;
        line-height: 5vw;

    }



    #center h1 {
        font-size: 16vw;
        line-height: 14vw;
        text-align: right;
        letter-spacing: -0.3vw;

        /* padding-bottom: 2.5vw; */


    }

    #page1 video {
        width: 90%;
        margin-left: 3%;
        height: 65vh;
        object-fit: cover;
        object-position: center;
        position: relative;
        border-radius: 27px;
        margin-top: 4vw;
    }




    #hero-shape {
        position: absolute;
        width: 80%;
        height: 46vw;
        right: 0;
        top: 68vh;
    }



    /* Page 2 Responsiveness Code */

    #page-2 {
        min-height: 100vh;
        width: 100vwf;
        background-color: #EFEAE3;
        padding: 8vw 0vw;
        position: relative;
    }

    .gola {
        height: 27px;
        width: 27px;
        border-radius: 50%;
        background-color: #FE320A;
        display: inline-block;
        margin: 1vw 2vw;

    }

    #moving-text {
        white-space: nowrap;
        overflow-x: auto;
    }

    #moving-text h1 {
        font-size: 14vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    /* Page 2 Bottom part Responsiveness Code */


    #page-2-bottom {
        height: 100vh;
        /* background-color: aquamarine; */
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20vw 0vw 0vw 4.4vw;
        position: relative;
        z-index: 9;
        flex-direction: column;
        /* padding-right: 1vw; */

    }


    #page-2-bottom h1 {
        font-size: 7.6vw;
        font-family: ch;
        line-height: 9vw;
        width: 100%;
        letter-spacing: -1px;
        font-size: 900;
    }

    #bottom-part-2 {
        width: 73%;
        /* margin-top: 2vw; */
        /* background-color: aqua; */
    }

    #bottom-part-2 img {
        width: 100%;
        border-radius: 5%;
    }

    #bottom-part-2 p {
        font-family: nb;
        font-weight: 200;
        margin-top: 10vw;
        font-size: 3.8vw;

    }

    #page-2 #gooey {
        background: linear-gradient(to top right, #ff2d03, #FE7B26);
        height: 80vw;
        width: 70vw;
        position: absolute;
        border-radius: 50%;
        top: 28%;
        left: 25%;
        filter: blur(18px);
        animation: gooey 5s infinite alternate;

    }

    /* Page 3 Responsiveness Code */

    #page-3 {
        min-height: 100;
        width: 100vw;
        background-color: #EFEAE3;
        padding: 6vw 0vw;

    }

    .elem {
        height: 140px;
        width: 100%;
        /* background-color: orange; */
        /* border-top: 1px solid #333; */
        overflow: hidden;
        border-bottom: 1px solid #33333385;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 2vw;
        position: relative;

    }

    .elem h2 {
        font-size: 7vw;
        font-family: ch;
        position: relative;
        z-index: inherit;
    }

    .overlay {
        height: 100%;
        width: 100%;
        background-color: orange;
        position: absolute;
        left: 0;
        top: -100%;
        transition: all ease 0.1s;
    }

    /* for left positiong of the webpage */
    .elem h6 {
        position: relative;
        font-family: nb;
        font-size: 2.5vw;
        top: 20%;
        left: 45%;
        /* text-transform: uppercase; */
        font-weight: 100;

    }

    .elem .Makers {
        position: relative;
        font-family: nb;
        font-size: 3vw;
        top: 20%;
        text-align: right;

        left: 32%;
        /* text-transform: uppercase; */
        font-weight: 100;


    }

    .elem .Anniversary {
        position: relative;
        font-family: nb;
        font-size: 3vw;
        top: 20%;
        text-align: right;
        left: 35%;
        /* text-transform: uppercase; */
        font-weight: 100;

    }

    .elem .AirForce {
        position: relative;
        font-family: nb;
        font-size: 2.8vw;
        top: 20%;
        /* text-align: right; */
        left: 35%;
        /* text-transform: uppercase; */
        font-weight: 100;

    }

    .elem .NYFW {
        position: relative;
        font-family: nb;
        font-size: 3vw;
        top: 20%;
        /* text-align: right; */
        left: 40%;
        /* text-transform: uppercase; */
        font-weight: 100;

    }

    .elem .ARC {
        position: relative;
        font-family: nb;
        font-size: 3vw;
        top: 20%;
        /* text-align: right; */
        left: 45%;
        /* text-transform: uppercase; */
        font-weight: 100;

    }

    .elem h6 p {
        font-size: 1vw;
        color: #8F8C88
    }

    .elem:hover .overlay {
        top: 0;
    }

    .fixed-image {
        height: 50vh;
        width: 70vw;
        /* background-color: red; */
        /* position: relative; */
        z-index: 99;
        border-radius: 15px;
        position: fixed;
        left: 25%;
        top: 20%;
        display: none;
        /* background-image: cover; */
        background-size: cover;
        background-position: center;

    }






    #Loader h1 {

        font-size: 8vw;

    }

    .myself h5 {
        font-size: 3vw;
    }


    /* Page 4 Responsiveness Code */
    #page-4 {
        background-color: #EFEAE3;
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* padding: 10vw 0; */
        padding-top: 13vw;
        /* margin-bottom: 16vw; */

        /* background-color: yellow; */

    }

    .left-item {
        background-color: rgba(0, 0, 255, 0.29);
        width: 90%;
        margin-left: 2vw;
        height: 65vh;
        background-color: #0B0500;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;




    }

    .right-item {
        /* background-color: rgb(255, 0, 43); */
        width: 90%;
        height: 53vh;

        position: relative;
        left: -5%;
        /* top: -%; */
        border-top-right-radius: 100px;
        border-bottom-right-radius: 20px;
        padding: 0vw 5.3vw;



    }



    .left-item h1 {
        font-family: ch;
        text-align: start;
        font-size: 14vw;
        text-decoration: none;
        color: #EFEAE3;
        /* margin-right: 30vw; */
        /* text-align: left; */
        /* margin-left: 12vw; */
        font-weight: 500;
        line-height: 13vw;



    }

    .left-item h1:hover {
        cursor: pointer;



    }


    .left-item p {
        margin-top: 7vw;

        font-size: 3.5vw;
        font-family: nb;
        color: #EFEAE3;
        /* margin-right: 3vw; */
        line-height: -2px;
        /* margin-left */



    }



    .right-item img {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }


    .right-item img {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        position: absolute;

    }

    /* Page 5 Responsiveness Code */
    #page-5 {
        height: 80vh;
        width: 100vw;
        background-color: #EFEAE3;
        padding: 14vw 2vw;
        padding-top: 40vw;



    }



    .swiper {
        width: 100%;
        height: 70%;
        /* background-color: #fff; */
        position: relative;
        left: 0%;

    }

    .swiper-slide p {
        font-family: nb;
        font-size: 3vw;
        padding: 1vw 1vw;
    }


    .swiper-slide {

        border-left: 1px solid #aeadad;
        /* border-right: 1px solid #000; */
    }

    .swiper-slide {
        width: 50%;
        padding: 0 2vw;
    }


    /* Footer Responsiveness Code */

    #footer {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #FE330A;
        color: #fff;
        z-index: 9;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        /* position: relative; */

    }

    #footer #edit {
        background: linear-gradient(#333);
        height: 150vw;
        width: 200vw;
        position: absolute;
        border-radius: 40%;
        top: 30%;
        right: 0%;
        filter: blur(-20px);
        animation: edit 5s infinite alternate;

    }

    @keyframes edit {
        from {
            filter: blur(10px);

            transform: translate(10%, -10%) skew(0);

        }

        to {
            filter: blur(30px);

            transform: translate(-10%, 10%) skew(-50deg);
        }


    }

    #footer h1 {
        position: relative;
        z-index: 999;
        padding-top: 72vw;
        font-size: 22.5vw;
        font-family: ch;
        color: #EDE8E1;

    }

    #footer-div {
        height: 20vh;
        /* background-color: red; */
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 20vw 8vw 0vw 5.5vw;
        position: relative;
        z-index: 999;

    }

    #footer-left h3 a {
        text-decoration: none;
        font-family: ch;
        font-size: 8.2vw;
        color: #fff;




    }

    #footer-right p {
        padding-top: 20vw;

        font-size: 5.5vw;
        font-family: nb;
        padding-bottom: 15vw;

    }

    #footer-bottom {
        position: relative;
        z-index: 999;
        border-top: 1px solid #dadada;

        height: 6vh;
        /* background-color: red; */
        width: 100%;
        /* top: 20%; */
        /* padding: 0vw 7vw; */
        /* background-color: black; */




    }

    .footer-last ul {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 3vw;
        /* padding: 4vw 2vw; */
        /* background-color: #3C3C3C; */


    }




    #footer-bottom ul a {

        text-decoration: none;
        color: white;
        font-size: 4vw;
        font-family: nb;


    }

    /* Foter right Email button */
    .search-bar {
        /* position:absolute;  */
        /* z-index: 1000; */
        margin-top: 7vw;
        width: 320px;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #FE330A;
        border: 1px solid #303030;
        border-bottom: 1px solid #9a9a9a;
        padding-left: 8px;
        padding-right: 10px;
        background-color: transparent;
        color: white;
        transition: all 0.3s ease;
    }





}